@import './base.css';

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/* Links styled buttons */
.link-style {
  background: none;
  border: none;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.link-style:hover {
  text-decoration: none;
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.form-label {
    flex: 0 0 250px;
    max-width: 250px;
    font-weight: bold;
    padding-right: 1em;
    box-sizing: border-box;
}

.form-field {
    flex: 1;
    min-width: 0;

   
}

@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }
    
    .form-label {
        flex: 0 0 0;
        max-width: 100%;
        margin-bottom: 0.25em;
    }
}

.thumbnail-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 0.5rem;
}

.thumb {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Thumbnail views for images and RTIs */
.thumbnail {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: 100ms;
    white-space: auto;
    object-fit: cover;
}

.thumbnail.clickable {
    cursor: pointer;
}

.thumbnail.clickable:hover {
    transform: scale(0.95);
}

.thumbnail.selected {
    border: 2px solid rgb(255, 255, 255, 0.7);
}

h1 {
  font-weight: bold;
}
/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
