@import './base.css';

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/* Thumbnail views for images and RTIs */
.thumbnail {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: 100ms;
    white-space: auto;
    object-fit: cover;
}

.thumbnail.clickable {
    cursor: pointer;
}

.thumbnail.clickable:hover {
    transform: scale(0.95);
}

.thumbnail.selected {
    border: 2px solid rgb(255, 255, 255, 0.7);
}

h1 {
  font-weight: bold;
}
/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
